.papatoo-navbar {
  @include flex-row();
  align-items: center;
  justify-content: space-between;
  background-color: $dark-green-papatoo;
  @include green-web-bg();
  border-radius: 1rem;
  padding: 1rem;
  .nav-title {
    color: $light-green-papatoo;
    font-family: $retro;
    font-weight: bold;
    font-size: 3em;
  }
  a {
    transition: all ease-in-out 0.3s;
    color: $light-green-papatoo;
    padding: 0 0.4rem;
    &:hover {
      color: $yellow;
    }
  }
}

@media (max-width: 1000px) {
  .nav-links-container{
      flex-direction: column;
      align-items: center;
      display: none;
  }
}
