.overlay-menu{
  display: none;
  transition: all 2s ease-in-out;
  background-color: $color-one-papatoo;
  border-radius: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem 0;
  font-size: 2rem;
  a{
    color: $color-two-papatoo;
    margin-top: 1rem;
  }
  .nav-links-container-overlay {
    @include flex-col();
    justify-content: start;
  }
}

.overlay-activated{
  display: block;
  animation: fade-in 0.4s;
}

@keyframes fade-in {
  0% {
      height: fit-content;
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}
