.overlay-menu{
  display: none;
  transition: all 2s ease-in-out;
  .nav-links-container-overlay {
    @include flex-col();
    justify-content: start;
  }
}

.overlay-activated{
  display: flex;
  font-size: 2rem;
  animation: fade-in 0.4s;
  a{
    color: $color-one-papatoo;
    margin-top: 1rem;
  }
}

@keyframes fade-in {
  0% {
      height: 0rem;
      opacity: 0;
  }

  90% {
    opacity: 0;
  }

  100% {
      height: fit-content;
      opacity: 1;
  }
}
