<h1>Dashboard</h1>
<p>Hi <%= current_user.username %><%= " : this is an admin account" if current_user.admin %></p>

<%= link_to 'my articles', my_articles_path %>
<br>
<%= link_to 'account settings', edit_user_registration_path %>
