// Define variables for your color scheme
// main color variables are below

$color-one-papatoo: #79C9C8;
$color-two-papatoo: #032E34;
$color-three-papatoo: #D800A6;
$color-four-papatoo: #F77F80;

$bg-color-papatoo: white;

// supplementary colors
$blue-papatoo: #233d4d;
$orange-papatoo: #fe7f2d;
$yellow-papatoo: #fcca46;
$light-green-papatoo: #a1c181;
$dark-green-papatoo: #619b8a;
$broken-white-papatoo: rgb(207, 207, 207);

// spell this colors

$red-papatoo: rgb(145, 37, 37);

// bootstrapped colors that came with boiler plate:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
