body {
  padding: 1rem;
}

main {
  padding: 0.4rem;
  padding-top: 2rem;
  max-width: 1300px;
  margin: 0 auto;
}


a {
  color: black;
  text-decoration: none;
  &:hover {
    color: black;
  }
}


// conditionally display text on screen width
.text-for-mobile {
  display: none;
}

@media (max-width: 900px) {
  .text-for-pc {
    display: none;
  }
  .text-for-mobile {
    display: block;
  }
}
