.article-index-top-section {
  @include flex-row();
  justify-content: space-evenly;
}

@media (max-width:1000px) {
  .article-index-top-section {
    flex-direction: column;
    align-items: center;
    width: 80vw;
    margin: 0 auto;
  }
}

.banner-title-container {
  div {
    margin: 0 auto;
  }
  a {
    @include cta-btn();
  }
}

.article-index-h2-container {
  @include flex-row();
  margin-top: 1rem;
  flex-wrap: wrap;
  width: 100%;
  max-width: 38rem;
  justify-content: space-between;
  h2 {
    width: 23rem;
    font-size: 2rem;
    font-weight: bold;
  }
  p {
    width: 13rem;
  }
}

@media (max-width:720px) {
  .article-index-h2-container{
    h2 {
      width: 100%;
    }
    p {
      width: 100%;
    }
  }
}

@media (max-width:500px) {
  .article-index-h2-container{
    text-align: center;
  }
}

.article-index-second-section {
  @include flex-row();
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
