.article-index-top-section {
  @include flex-row();
  background-color: $broken-white-papatoo;
  justify-content: space-evenly;
}

@media (max-width:1000px) {
  .article-index-top-section {
    flex-direction: column;
    align-items: center;
    width: 80vw;
    margin: 0 auto;
  }
}

.banner-title-container {
  div {
    margin: 0 auto;
  }
}

.article-index-h2-container {
  @include flex-row();
  padding-top: 1rem;
  flex-wrap: wrap;
  width: 100%;
  max-width: 38rem;
  justify-content: space-between;
  h2 {
    width: 23rem;
    text-align: right;
    color: $blue-papatoo;
    font-size: 2rem;
    font-weight: bold;
    margin-right: 1rem;
  }
  p {
    width: 13rem;
    text-align: left;
  }
}

@media (max-width:720px) {
  .article-index-h2-container{
    h2 {
      width: 100%;
      text-align: center;
    }
    p {
      width: 100%;
      text-align: center;
    }
  }
}

@media (max-width:500px) {
  .article-index-h2-container{
    text-align: center;
  }
}

.article-index-second-section {
  @include flex-row();
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
