.dashboard-section {
  .dashboard-main-menu {
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    margin: 2rem auto;
    max-width: 19rem;
    .dashbaord-menu-link-container {
      @include flex-row();
      justify-content: space-between;
      align-items: center;
      p {
        margin: 0;
      }
    }
    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media (max-width:450px) {
  .dashboard-section {
    h2 {
      font-size: 1.8rem;
    }
  }
}
