// Specific CSS for your home-page

.about-section {
  .about-section-paras {
    width: 80%;
    margin: 2rem auto 4rem auto;
  }
  padding-top: 5rem;
  color: $color-two-papatoo;
  margin-top: 2rem;
  background-color: $color-one-papatoo;
  .top-right-style-tile {
    width: 70%;
    .top-left-curve-compensation {
      &::before{
        background-color: $color-one-papatoo;
        box-shadow: 1px -1px 0px $color-one-papatoo;
      }
    }
    .bottom-right-curve-compensation {
      &::before {
        background-color: $color-one-papatoo;
        box-shadow: 1px -1px 0px $color-one-papatoo;
      }
    }
  }
  .form-style-tile {
    width: 75%;
    .top-left-curve-compensation {
      &::before {
        background-color: $color-one-papatoo;
        box-shadow: 1px -1px 0px $color-one-papatoo;
      }
    }
    .bottom-right-curve-compensation {
      &::before {
        background-color: $color-one-papatoo;
        box-shadow: 1px -1px 0px $color-one-papatoo;
      }
    }
  }
}

.side-note-section {
  margin-top: 3rem;
  color: $color-one-papatoo;
  a {
    color: $color-one-papatoo;
    transition: all ease-in-out 0.3s;
    &:hover {
      color: $color-four-papatoo;
    }
  }
  .top-right-style-tile {
    width: 28%;
  }
}
