.locations-intro-section {
  background-color: $color-two-papatoo;
  color: $color-one-papatoo;
  h2 {
    color: $color-one-papatoo;
    font-family: $retro;
    font-size: 3rem;
  }
  .top-right-style-tile {
    width: 65%;
    .top-left-curve-compensation {
      &::before{
        background-color: $color-two-papatoo;
        box-shadow: 1px -1px 0px $color-two-papatoo;
      }
    }
    .bottom-right-curve-compensation {
      &::before {
        background-color: $color-two-papatoo;
        box-shadow: 1px -1px 0px $color-two-papatoo;
      }
    }
  }
  .form-style-tile {
    width: 75%;
    .top-left-curve-compensation {
      &::before {
        background-color: $color-two-papatoo;
        box-shadow: 1px -1px 0px $color-two-papatoo;
      }
    }
    .bottom-right-curve-compensation {
      &::before {
        background-color: $color-two-papatoo;
        box-shadow: 1px -1px 0px $color-two-papatoo;
      }
    }
  }
}
