.location-map-container{
  margin: 0 auto;
  max-width: 35rem;
  min-width: 12rem;
  height: 50vh;
  max-height: 20rem;
  border: 3px solid;
  border-radius: 1rem;
  width: 45vw;
}

.location-create-form {
  margin: 0 auto;
  margin-top: 1rem;
  display: none;
  transition: all ease-in-out 0.3s;
  max-width: 35rem;
  min-width: 12rem;
  width: 45vw;
}

@media (max-width: 800px) {
  .location-map-container {
    width: 100%;
  }
  .location-create-form {
    width: 100%;
  }
}
