<h1>Convos</h1>
<% @convos.each do |item| %>
  <%= link_to convo_messages_path(item) do %>
    <% if current_user.username == item.receiver.username %>
      <p><%= item.sender.username %></p>
    <% else %>
      <p><%= item.receiver.username %></p>
    <% end %>
  <% end %>
<% end %>
