<section class="games-room-section green-bg-curvy-section main-form">
  <div class="top-right-style-tile">
    <div class="top-left-curve-compensation"></div>
    <div class="bottom-right-curve-compensation"></div>
  </div>
  <h2>Games room</h2>
  <%= link_to 'spell_this', spell_this_path %>

  <%= image_tag 'retro_pc.svg', class: 'svg-icon svg-retro-pc' %>
  <%= image_tag 'retro_controller.svg', class: 'svg-icon svg-retro-controller' %>
</section>
