<section class="green-bg-curvy-section main-form" data-controller="greenbg" data-action="mouseover->greenbg#moveBG">
  <div class="top-right-style-tile">
    <div class="top-left-curve-compensation"></div>
    <div class="bottom-right-curve-compensation"></div>
  </div>
  <h1 class="backwards" data-greenbg-target="title">PAP</h1>
  <h1 data-greenbg-target="title">AT</h1>
  <h1 data-greenbg-target="title">OO</h1>
  <div class="form-style-tile">
    <div class="top-left-curve-compensation"></div>
    <div class="bottom-right-curve-compensation"></div>
  </div>
</section>
