<section class="green-bg-curvy-section main-form">
  <div class="top-right-style-tile">
    <div class="top-left-curve-compensation"></div>
    <div class="bottom-right-curve-compensation"></div>
  </div>

  <%= image_tag 'sunglasses.svg', class: 'svg-icon svg-glasses' %>
  <%= image_tag 'flipflops.svg', class: 'svg-icon svg-flipflops' %>
  <h1 class="backwards">PAP</h1>
  <h1>AT</h1>
  <h1>OO</h1>
  <div class="form-style-tile">
    <div class="top-left-curve-compensation"></div>
    <div class="bottom-right-curve-compensation"></div>
  </div>
</section>
<section class="about-section green-bg-curvy-section main-form">
  <div class="top-right-style-tile">
    <div class="top-left-curve-compensation"></div>
    <div class="bottom-right-curve-compensation"></div>
  </div>
  <h3>Papatoo is currently a work in progress</h3>
  <div class="form-style-tile">
    <div class="top-left-curve-compensation"></div>
    <div class="bottom-right-curve-compensation"></div>
  </div>
</section>
