.article-index-card{
  @include button-basic();
  margin: 1rem;
  padding: 1rem;
  width: 20rem;
  height: 8rem;
  position: relative;
  border-radius: 1rem;
  background-color: $color-one-papatoo;
  h5 {
    font-weight: bold;
    color: $color-two-papatoo;
  }
  .article-index-card-number {
    position: absolute;
    right: 1rem;
    min-width: 2rem;
    height: 2rem;
    text-align: center;
    font-weight: bold;
    font-family: $curly;
    font-size: 4rem;
  }
  &:hover {
    background-color: rgba(255, 255, 255, 1);
    hr {
      color: $color-three-papatoo;
    }
  }
  hr {
    margin: -0.5rem 0;
    color: $color-two-papatoo;
    border: 0;
    border-top: 1px solid;
    opacity: 1;
  }
}
