.leave-comment-form {
  max-width: 20rem;
  background-color: $light-gray;
  form {
    input[type='text'] {
      background-color: $light-gray;
      border: 1px solid $color-two-papatoo;
      height: 3rem;
    }
  }
}
