<%= link_to "<- back", :back %>

<section class="spell-this-section" data-controller="spell-this">
  <div class="computer-says-container">
    <h4><%= top_3_scorers_message("spell this") %></h4>
    --------------
    <h4 data-spell-this-target="encouragement">Computer says : Can you spell this word? The big word below? </h4>
  </div>
  <h1 class="word-to-be-spelt" data-spell-this-target="spellword">WORD</h1>
  <h1 class="spell-this-go-btn" data-spell-this-target="goBtn" data-action="click->spell-this#startGame">Go!</h1>
  <section class="counter-answer-container" data-spell-this-target='counterAnswerContainer'>
    <div class="counter-level-word-container">
      <div class="counter count-box">Timer: <span data-spell-this-target="timer">0</span></div>
      <div class="level count-box">Level: <span data-spell-this-target="level">1</span></div>
      <div class="word count-box">Word: <span data-spell-this-target="wordcount">0</span></div>
    </div>
    <form class="spell-answer-form" id="spell-this-form">
      <input type="text" id="spell-this-answer" name="spell-answer" placeholder="... type here stupid ..." data-action="input->spell-this#userAnswer">
    </form>
  </section>
  <% if user_signed_in? %>
    <div class="submit-score-form" data-spell-this-target="submitScore">
      <%= simple_form_for @game_score do |form| %>
      <input class="form-control string optional" hidden value="spell this" type="text" name="game_score[game_name]" id="game_score_game_name">
      <input class="form-control numeric integer optional" hidden value="0" type="number" step="1" name="game_score[score]" id="game_score_score" data-spell-this-target="finalScore">
      <%= form.submit "save score" %>
      <% end %>
    </div>
  <% end %>
</section>
