<%= link_to "<- back", :back %>

<section class="spell-this-section">
  <h1>Spell This</h1>
  <section class="counter-level-word-container">
    <div class="counter count-box">Timer:134</div>
    <div class="level count-box">Level:3</div>
    <div class="word count-box">Word:Elephant</div>
  </section>
</section>
