<%= link_to "<- back", :back %>

<section class="spell-this-section" data-controller="spell-this">
  <h1>Spell This : </h1>
  <h1 class="word-to-be-spelt" data-spell-this-target="spellword">WORD</h1>
  <section class="counter-answer-container">
    <div class="counter-level-word-container">
      <div class="counter count-box">Timer: <span data-spell-this-target="timer">0</span></div>
      <div class="level count-box">Level: <span data-spell-this-target="level">1</span></div>
      <div class="word count-box">Word: <span data-spell-this-target="wordcount">0</span></div>
    </div>
    <form class="spell-answer-form" id="spell-this-form">
      <input type="text" id="spell-this-answer" name="spell-answer" placeholder="... type here stupid ..." data-action="input->spell-this#userAnswer">
    </form>
  </section>
</section>
