.computer-says-container {
  background-color: rgb(66, 66, 66);
  color: aquamarine;
  padding: 1rem;
  border: 4px solid aquamarine;
  border-radius: 0.5rem;
  font-family: monospace;
  text-align: center;
}
