.devise-shared-links-container {
  position: relative;
  margin-top: 1rem;
  background-color: $mid-green-papatoo;
  border-radius: 0 1rem 1rem 1rem;
  padding: 1rem;
  .top-left-style-tile {
    position: absolute;
    background-color: $mid-green-papatoo;
    width: 30%;
    // height: 69%;
    height: 3.45rem;
    top: -53px;
    left: 0rem;
    border-radius: 1rem 1rem 0 0;
    .bottom-right-curve-compensation {
      width: fit-content;
      position: absolute;
      background-color: $mid-green-papatoo;
      bottom: -0.28rem;
      right: -1rem;
      &::before {
        content: "";
        border-radius: 0 0rem 0 1rem;
        display: inline-block;
        height: 1.5rem;
        width: 1rem;
        box-shadow: 1px -1px 0px $light-green-papatoo;
        background-color: $light-green-papatoo;
      }
    }
  }
}

@media (max-width:600px) {
  .devise-shared-links-container{
    border-radius: 1rem;
    .top-left-style-tile{
      display: none;
    }
  }
}
