.main-form {
  position: relative;
  background-color: $dark-green-papatoo;
  padding: 1rem 1rem 10rem 1rem;
  border-radius: 1.1rem;
  label {
    color: $light-green-papatoo;
  }

  input[type="text"], input[type="email"], input[type="password"]{
    transition: all ease-in-out 0.3s;
    width: 50%;
    min-width: 20rem;
    border: none;
    &:focus {
      background-color: white;
      width: 60%;
      box-shadow: none;
    }
  }
  .form-style-tile{
    @include bottom_left_style_tile();
  }
}
