.main-form {
  h2 {
    color: $light-green-papatoo;
  }
  position: relative;
  background-color: $dark-green-papatoo;
  padding: 4rem 1rem 6rem 1rem;
  border-radius: 1.1rem;
  text-align: center;

  form abbr[title] {
    border-bottom: none;
    text-decoration: none;
  }
  label {
    color: $light-green-papatoo;
  }

  input[type="text"], input[type="email"], input[type="password"], input[type="number"] {
    margin: 0 auto;
    transition: all ease-in-out 0.3s;
    width: 50%;
    min-width: 15rem;
    border: none;
    border-radius: 2rem;
    color: $light-green-papatoo;
    background-color: $dark-green-papatoo;
    border: 1px solid white;
    &:focus {
      background-color: white;
      color: black;
      width: 52%;
      box-shadow: none;
    }
  }
  input[type="checkbox"] {
    margin: 0 auto;
    background-color: $light-green-papatoo;
    color: black;
    box-shadow: none;
    border: none;
    &:checked:before{
      color: black;
    }
  }
  .form-style-tile{
    @include bottom_left_style_tile();
    left: -1px;
  }
}
