.papatoo-navbar {
  @include flex-row();
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  a {
    transition: all ease-in-out 0.3s;
    color: $mid-green-papatoo;
    &:hover {
      color: $dark-green-papatoo;
    }
  }
}
