.submit-score-form {
  margin: 0 auto;
  display: none;
  input[type='submit'] {
    background-color: aquamarine;
    font-weight: bolder;
  }
  input[type='number'] {
    background-color: none;
    border: none;
  }
}
