.svg-icon {
  width: 9rem;
  height: 9rem;
}

.svg-glasses {
  transform: rotate(-18deg);
  position: absolute;
  left: 4rem;
  top: 4rem;
}

@media (max-width: 450px) {
  .svg-glasses {
    left: 2rem;
    top: 2rem;
  }
}

.svg-flipflops {
  position: absolute;
  bottom: 4rem;
  right: 1rem;
  transform: rotate(29deg);
}

@media (max-width: 450px) {
  .svg-flipflops {
    transform: rotate(29deg) scale(0.6);
    bottom: 1rem;
  }
}
