.svg-icon {
  width: 9rem;
  height: 9rem;
}

.svg-glasses {
  transform: rotate(-29deg);
  position: absolute;
  left: 4rem;
  top: 4rem;
}

@media (max-width: 450px) {
  .svg-glasses {
    transform: rotate(-29deg) scale(0.7);
    left: 2rem;
    top: 2rem;
  }
}

.svg-flipflops {
  position: absolute;
  bottom: 4rem;
  right: 1rem;
  transform: rotate(29deg);
}

@media (max-width: 450px) {
  .svg-flipflops {
    transform: rotate(29deg) scale(0.6);
    bottom: 1rem;
  }
}

.svg-bbq {
  position: absolute;
  transform: rotate(-11deg);
  left: 0;
  top: 1rem;
  height: 4rem;
}

@media (max-width: 450px) {
  .svg-bbq {
    left: -1rem;
    transform: rotate(-11deg) scale(0.8);
  }
}

.svg-dashboard-link {
  height: 1rem;
  width: 3rem;
}
