.svg-icon {
  width: 9rem;
  height: 9rem;
}

.svg-glasses {
  transform: rotate(-18deg);
  position: absolute;
  left: 4rem;
  top: 4rem;
}

@media (max-width: 450px) {
  .svg-glasses {
    left: 2rem;
    top: 2rem;
  }
}
