.top-content-container {
  background-color: $dark-green-papatoo;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg fill-opacity='0.43'%3E%3Ccircle fill='%23164316' cx='50' cy='0' r='50'/%3E%3Cg fill='%23184618' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%231b4a1b' cx='50' cy='100' r='50'/%3E%3Cg fill='%231d4d1d' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%2320511f' cx='50' cy='200' r='50'/%3E%3Cg fill='%23225422' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23245824' cx='50' cy='300' r='50'/%3E%3Cg fill='%23275b26' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23295f29' cx='50' cy='400' r='50'/%3E%3Cg fill='%232c632b' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%232e662e' cx='50' cy='500' r='50'/%3E%3Cg fill='%23316a30' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23336e32' cx='50' cy='600' r='50'/%3E%3Cg fill='%23357135' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23387538' cx='50' cy='700' r='50'/%3E%3Cg fill='%233a793a' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%233d7d3d' cx='50' cy='800' r='50'/%3E%3Cg fill='%233f803f' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23428442' cx='50' cy='900' r='50'/%3E%3Cg fill='%23448844' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23478C47' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: contain;
  color: $yellow;
  padding: 1rem;
  height: fit-content;
  width: fit-content;
  h3 {
    font-weight: bold;
  }
  a {
    color: $light-green-papatoo;
    &:hover p {
      border-bottom: 3px $light-green-papatoo solid;
    }
    h5 {
      font-weight: bold;
    }
    p {
      padding-bottom: 1rem;
      border-bottom: 1px $light-green-papatoo solid;
    }
  }
}

@media (max-width: 1000px) {
  .top-content-container {
    margin-top: 2rem;
    width: 100%;
    max-width: 36rem;
  }
}
