<h1>Locations</h1>
<p>Oops - this feature is no where near finished... come back another time</p>

<section class="location-map-container"
  data-controller="location-map"
  data-location-map-markers-value="<%= @markers.to_json %>"
  data-location-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></section>
